<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Add Product</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="css/bootstrap-social.css">
  <link rel="stylesheet" href="css/styles2.css">
</head>

<body>

<div class="container mt-5">
  <h1>Add Product</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /register route -->
          <form action="/addProduct" method="POST">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" name="username">
            </div>
            <div class="form-group">
                <label for="serialId">Serial ID</label>
                <input type="text" class="form-control" name="serialId">
              </div>
            <div class="form-group">
              <label for="price">Price</label>
              <input type="number" class="form-control" name="price">
            </div>
            <div class="form-group">
                <label for="description">Desciption</label>
                <textarea type="text" class="form-control" name="description" rows="5" cols="50"></textarea>
              </div>
            <button type="submit" class="btn btn-dark">ADD</button>
          </form>

        </div>
      </div>
    </div>

    
  </div>
</div>



</body>
</html>

