<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Product</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="css/bootstrap-social.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/styles7.css">
</head>

<body>
    <!-- <a class="btn btn-dark btn-lg" href="/loginDistributor" role="button">Login</a>
    <a class="btn btn-dark btn-lg" href="/registerDistributor" role="button">Signup</a> -->
    <h1 class="givemar" style="text-align: center;">Join Us</h1>
    <hr size="8" width="90%" color="red">
    <div class="take text-center">
    <h3 style="text-align: center;" class="styletext">New User? SignUp and Be a Part of our huge community </h3>
    <h3 style="text-align: center;" class="styletext">Login For Existing User</h3>
       <a  class="btn btn btn-primary btn-lg"  href="/loginDistributor" role="button">Login</a>
       <a class="btn btn-dark btn-lg" href="/registerDistributor" role="button">Signup</a>
   
     </div>


</body>
</html>

