<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Secrets</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="css/bootstrap-social.css">
  <link rel="stylesheet" href="css/styles1.css">
</head>

<body>

  

<div class="row">
<div class="col-sm-6">
  <div class="card" >
  <img class="card-img-top card-img2 mx-auto" src="https://cdn-icons-png.flaticon.com/512/660/660619.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Review Purchased Products</h5>
    <p class="card-text">Pass purchased Products to Distributor.</p>
    <a href="/reviewProductsbyDistributor" class="btn btn-primary">Start</a>
  </div>
</div>
</div>
</div>


<%-include('partials/footer') %>