<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Secrets</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="css/bootstrap-social.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/styles6.css">
  
</head>

<body>
    <!-- <a class="btn btn-dark btn-lg" href="/manufacture" role="button">Maufacture</a>
    <a class="btn btn-dark btn-lg" href="/distributor" role="button">Distributor</a>
    <a class="btn btn-dark btn-lg" href="/purchaser" role="button">Purchaser</a> -->
    <h1 class="head-text" style="text-align: center;">Choose Your Role!!</h1>
    <div class="container">
      <div class="row">
        <div class="col-sm-4 py-3 py-sm-0 ">
          <div class="card box-shadow ">
            <img src="https://thumbs.dreamstime.com/b/industrial-factory-production-process-concept-tiny-people-cartoon-characters-flat-style-vector-illustration-industrial-factory-176546590.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Manufacture</h5>
              <p class="card-text">Add Items and send purchased items to Distributor.</p>
              <a href="/manufacture" class="btn btn-primary">Go Ahead</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4 py-3 py-sm-0">
          <div class="card box-shadow">
            <img src="https://thumbs.dreamstime.com/b/warehouse-inscription-building-logistics-distribution-delivery-goods-design-cartoon-style-vector-illustration-transport-210684010.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title mar">Distributor</h5>
              <p class="card-text">Recieve and send Products to Purchaser.</p>
              <a href="/distributor" class="btn btn-primary">Go Ahead.</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4 py-3 py-sm-0">
          <div class="card box-shadow">
            <img src="https://media.istockphoto.com/vectors/supermarket-line-purchases-at-the-supermarket-flat-grocery-buyers-vector-id1263639903?s=612x612" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title mar2">Purchaser</h5>
              <p class="card-text">Buy and Track Products.</p>
              <a href="/purchaser" class="btn btn-primary ma3">Go Ahead</a>
            </div>
          </div>
        </div>
      </div>
    </div>
   
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


</body>
</html>

