<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Secrets</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="css/bootstrap-social.css">
  <link rel="stylesheet" href="css/styles1.css">
</head>

<body>

  

<div class="row">
<div class="col-sm-6">
  <div class="card" >
  <img class="card-img-top card-img2 mx-auto" src="https://cdn-icons-png.flaticon.com/512/660/660619.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Add warehouse</h5>
    <p class="card-text">Pass purchased Products to Distributor.</p>
    <a href="/addWarehouse" class="btn btn-primary">Start</a>
  </div>
</div>
</div>

<div class="col-sm-6">
  <div class="card" >
    <img class="card-img-top card-img1 mx-auto" src="https://images.squarespace-cdn.com/content/v1/5a9d990755b02c16eef28423/1522958745117-C9FZPNWFRB9HHO3IK1TD/animat-shopping-cart-color.gif" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Add Items to warehouse</h5>
      <p class="card-text">Add some Prouct at your page.</p>
      <a href="/addItems" class="btn btn-primary">Add Product</a>
    </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card" >
      <img class="card-img-top card-img1 mx-auto" src="https://images.squarespace-cdn.com/content/v1/5a9d990755b02c16eef28423/1522958745117-C9FZPNWFRB9HHO3IK1TD/animat-shopping-cart-color.gif" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Update Items of warehouse</h5>
        <p class="card-text">Add some Prouct at your page.</p>
        <a href="/updateItems" class="btn btn-primary">Update</a>
      </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card" >
        <img class="card-img-top card-img1 mx-auto" src="https://images.squarespace-cdn.com/content/v1/5a9d990755b02c16eef28423/1522958745117-C9FZPNWFRB9HHO3IK1TD/animat-shopping-cart-color.gif" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Data Analytics</h5>
          <p class="card-text">Add some Prouct at your page.</p>
          <a href="/dataAnalytics" class="btn btn-primary">Analyze</a>
        </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card" >
          <img class="card-img-top card-img1 mx-auto" src="https://images.squarespace-cdn.com/content/v1/5a9d990755b02c16eef28423/1522958745117-C9FZPNWFRB9HHO3IK1TD/animat-shopping-cart-color.gif" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Ship Items</h5>
            <p class="card-text">Add some Prouct at your page.</p>
            <a href="/ship" class="btn btn-primary">Ship</a>
          </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card" >
            <img class="card-img-top card-img1 mx-auto" src="https://images.squarespace-cdn.com/content/v1/5a9d990755b02c16eef28423/1522958745117-C9FZPNWFRB9HHO3IK1TD/animat-shopping-cart-color.gif" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Predict Price</h5>
              <p class="card-text">Add some Prouct at your page.</p>
              <a href="/predict" class="btn btn-primary">Predict</a>
            </div>
            </div>
          </div>

</div>


</body>
</html>



